<div>
    <form action="/" method="post" class="form-post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="lastName" placeholder="lastname">
        <input type="text" name="age" placeholder="age">
        <input type="text" name="email" placeholder="email">
        <input type="submit" value="Agregar">
    </form>
</div>