<div>
  <form action="/usuario" method="post">
    <input type="text" name="name" placeholder="Escribe tu nombre"/>
    <input type="email" name="mail" placeholder="Escribe tu correo"/>
    <input type="password" name="password" placeholder="Escribe tu contraseña"/>
    <input type="submit" value="send" id="button">
  </form>
</div>